RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Rewrite rules for each page
RewriteRule ^login$ /auth/login.php [L]
RewriteRule ^register$ /auth/register.php [L]
RewriteRule ^admin$ /admin/index.php [L]
RewriteRule ^logout$ /auth/logout.php [L]
RewriteRule ^home$ /index.php [L]
RewriteRule ^about-us$ /users/page/about.php [L]
RewriteRule ^courses$ /users/page/courses.php [L]
RewriteRule ^contact-us$ /users/page/contact.php [L]
RewriteRule ^team$ /users/page/team.php [L]
RewriteRule ^404$ /404.php [L]